<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/blog" class="item">   <i class="code icon"></i>
            Blog
        </a>
        <a href="/blog/new" class="item">New post</a>
        <a href="/blog" class="item">Home</a>
        <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            </div>
    </div>
    <div class="ui main text container segment">
      <center><div class="ui huge header">
            <h2><%=blog.title %></h2>
        </div>
    </center>
        &nbsp;
        <div class="ui top attached">
            <div class="item">
                <img src="<%= blog.image %>" alt="" class="ui centered rounded image">
                <div class="content">
                    <span><em><b><%= blog.date.toDateString() %></b></em></span>
                </div>
                <div class="description">
                    <p><%-blog.body %></p>
                </div>
                <a href="/blog/<%=blog._id%>/edit" class="ui brown basic button">Edit</a>
                <form action="/blog/<%= blog._id %>?_method=Delete" method="POST" id="delete">
                    <button class="ui blue basic button">Delete</button>
                </form>
            </div>
        </div>

</body>
</html>
